###
 # Specifies Python packages (and package versions) to install in order to run project.
 #
 # Execute via "pip install -r requirements.txt" while in the base project directory.
 ##


###
 # Core Python Packages
 ##
mysqlclient     # For connecting to mysql.
pytz            # For datetime shenanigans.
pytest          # Base Pytest package. Current preferred testing method.
pytest-xdist    # Additional Pytest features, such as multithreading and looping.


###
 # Pip Freeze:
 #      pip freeze -r requirements.txt
 ##
